*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
}
body::-webkit-scrollbar{
    width: 6px;
    border-radius: 12px;
}
body::-webkit-scrollbar-thumb{
    background-color: #666;
    border-radius: 12px;
    
}
::selection{
    background-color: #333;
    color: #a2d2fd;
}
/*Essenciais*/
.container{
    max-width: 1600px;
    width: 100%;
    margin: 0 auto;
    padding: 0 2%;
}
.squareAfter{
    transition: all .5s ease 0s;
}
/*Página*/
#main{
    width: 100%;
    min-height: 100vh;
    background-color: #edede9;
    position: relative;
    overflow-x: hidden;
}
#main::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to right, rgba(255, 236, 236, 0.596) 00%,transparent 100%);
}
#main::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-image: url(../img/blob-scatter-haikei\ \(5\).svg);
    background-size: contain;
    opacity: 0.2;
    background-repeat: repeat;
    background-position: center;
    z-index: 0;
}
.triangulo{
    bottom: 0;
    position: absolute;
    width: 500px;
    height: 500px;
    border-right: 500px solid transparent;
    border-bottom: 500px solid #f1c8df;
    transition: all .5s ease 0s;
    z-index: 1;
}
.pontilhadoMaior{
    width: 300px;
    height: 100px;
    background-size: 100%;
    background-repeat: no-repeat;
    float: left;
    transform: translateY(400px);
    z-index: 1;
}
.linhas{
    position: absolute;
    top: -220px;
    left: 0;
    background-image: url(../img/linhas\ pequenas.png);
    background-size: contain;
    background-position: top;
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    z-index: 1;
}
.square{
    width: 350px;
    height: 350px;
    position: absolute;
    top: 0;
    right: 0;
    background-color: #22223b;
    z-index: 1;
}
.square::before{
    position: absolute;
    content: '';
    width: 80px;
    height: 80px;
    top: 20%;
    left: 50%;
    background-color: #fff;
    border-radius: 200px;
}
.square::after{
    position: absolute;
    content: '';
    width: 400px;
    height: 400px;
    border-radius: 50%;
    top: 100px;
    left: -280px;
    border: 80px solid #c9ada7;
}
.name{
    position: relative;
    z-index: 10;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    transition: all .5s ease 0s;
    z-index: 1;
}
.name div{
    position: relative;
    z-index: 1;
}
.name div > p{
    font-family: "Montserrat";
    color: #4a4e69;
    font-weight: 300;
    font-size: clamp(12px, 8vw, 30px);
}
.name div > p > b{
    font-weight: 500;
}
.name h2{
    font-family: "Poppins";
    font-weight: 200;
    font-size: clamp(60px, 8vw, 120px);
    color: #4a4e69;
    position: relative;
    line-height: 0.76;
}
.name h2 > b{
    font-family: "Oxygen";
    font-weight: bold;
    color: #4a4e69;
}
.name .about{
    text-align: right;
    font-family: "Oxygen";
    font-weight: 500;
    font-size: clamp(12px, 8vw, 30px);
    z-index: 1;
}
.name .about:last-child{
    position: relative;
    left: -70px;
}
.name div::before{
    content: '';
    position: absolute;
    top: -20px;
    left: 50%;
    transform: translateX(-50%);
    width: 50%;
    height: 0px;
    z-index: -1;
    border-left: 200px solid transparent;
    border-right: 200px solid transparent;
    border-bottom: 350px solid #bde0fe;
}
.centerclass{
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
}
.flexCard__main{
    position: relative;
    top: 140px;
    width: 50%;
    padding: 20px 0;
    padding-bottom: 40px;
    background-color: #f2f2f2;
    border-radius: 12px;
    box-shadow: 2px 4px 12px rgb(0 0 0 / 8%);
    transition: linear .3s;
}
.flexCard__main > h2{
    font-family: "Oxygen";
    font-weight: bold;
    font-size: calc(1.375rem + 1.5vw);
    color: #4a4e69;
    text-align: center;

}
.flexicons{
    display: flex;
    padding-top: 20px;
    justify-content: space-evenly;
}
.flexCard__main a svg{
    transition: all .3s ease 0s;
}
.flexCard__main a{
    font-size: calc(1.375rem + 2vw);
}
.flexCard__main a:hover svg{
    color: #4a4e69 !important;
    transform: scale(1.08);
}
/*Projetos*/
#projetos{
    min-height: 100vh;
    width: 100%;
    overflow: hidden;
}
.flexdisplay{
    margin-top: 70px;
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: space-between;
}
.title__projetos{
    font-family: "Lemon Milk";
    font-size: 40px;
    font-weight: 200;
    color: #4a4e69;
    padding-top: 60px;
    padding-left: 10%;
}
.flexcontent{
    width: calc(100% * (1/3));
    margin: 0 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.singledisplay{
    position: relative;
    width: 200%;
    height: 500px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
.subtitle:hover::before{
    width: 100%;
}
.subtitle::before{
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    width: 0%;
    height: 3px;
    background-color: #c9ada7;
    transition: all .5s ease 0s;
}
.subtitle{
    text-decoration: none;
    position: relative;
    top: -120px;
    font-family: "Oxygen";
    font-weight: bold;
    color: #4a4e69;
    font-size: 22px;
    padding: 5px 0;
}
/*about*/
.aboutcontent{
    margin-top: 70px;
    padding-left: 10%;
    padding-bottom: 40px;
}
.aboutcontent p {
    color: #22223b;
    font-size: 24px;
    font-family: "Montserrat";
    font-weight: 500;
    line-height: 1.6;
    max-width: 900px;
    padding: 6px 0;
}
/*footer*/
footer{
    width: 100%;
    padding: 10px 0;
    background-color: #0b0a0f;
}
.flexfooter{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 2px solid rgb(250 250 250 / 20%);
}
.footercontent{
    width: calc(100% * (1/4));
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
}
footer h2{
    font-family: "Poppins";
    color: #fff;
    font-size: 14px;
    padding: 10px;
}
footer p , footer a{
    text-decoration: none;
    font-weight: 500;
    font-family: "Poppins";
    color: #c4c4cc;
    font-size: 14px;
    padding: 6px;
}
.footerabout{
    color: #c4c4cc;
    font-size: 16px;
}
.footercontent:first-child{
    max-width: 300px;
}
.footersociais{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.footersociais a{
    font-size: 22px;
    border: 2px solid #ccc;
    margin: 0 5%;
    border-radius: 6px;
    padding: 0px 6px;
}
footer a:hover{
    color: #fff;
}
.flexunder{
    padding-top: 20px;
}
.copy{
    color: #fff;
    text-align: center;
}
/*resize*/
@media screen and (max-width: 1370px) {
    .squareAfter::before{
        transform: scale(0.8);
    }
    .squareAfter::after{
        transform: scale(0.7);
        top: 0;
    }
}
@media screen and (max-width: 1250px){
    .squareAfter::before{
        transform: scale(0.7);
    }
    .squareAfter::after{
        transform: scale(0.5);
        top: -10px;
    }
    .triangulo{
        border-bottom: 300px solid #cdb3da;
    }
    .pontilhadoMaior{
        transform: scale(0.8) translateY(500px) translateX(-20px);
    }
}
@media screen and (max-width: 1000px){
    .name div::before{
        top: -100px;
    }
    .squareAfter::after{
        transform: scale(0.4);
        top: -50px;
    }
    .flexCard__main{
        width: 60%;
    }
}
@media screen and (max-width: 800px) {
    .name div{
        width: 600px;
    }
    .name .about{
        padding-right: 20px;
    }
    .square::after{
        position: absolute;
        left: -50px;
        top: 0;
    }
    .title__projetos{
        padding-left: 0;
    }
    .flexdisplay{
        flex-wrap: wrap;
    }
    .flexcontent{
        width: 100%;
    }
    .flexfooter{
        flex-wrap: wrap;
    }
    .footercontent{
        width: 100%;
    }
    .aboutcontent{
        padding-left: 0;
    }
}
@media screen and (max-width: 680px){
    .name div{
        width: 100%;
        padding: 20px 0;
        background-color: #bde0fe;
    }
    .name .about, .name div > p {
        padding-right: 0;
        font-size: clamp(14px,8vh,24px);
    }
    .name div::before{
        width: 200%;
        height: 350px;
        background-color: #bde0fe;
        border: none;
    }
    .flexCard__main{
        width: 80%;
    }
}
@media screen and (max-width: 500px){
    .name div{
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
    }
    .name div > p{
        margin-left: -120px;
    }
    .name .about{
        left: 0 !important;
        margin: 0 ;
    }
    .flexCard__main{
        width: 100%;
    }
    .square{
        display: none;
    }
}
@media screen and (max-width: 450px){
    .singledisplay{
        width: 180%;;
    }
}